*
{
    margin:0;
    padding:0;
}

body
{
    background-color: rgb(127, 219, 249);
}

header
{
    color:brown;
    font-size: 30px;
    text-align: center;
}

.content
{
    color:brown;
}


df-messenger {
  --df-messenger-bot-message: #9db3f8;
  --df-messenger-button-titlebar-color: #74f856;
  --df-messenger-chat-background-color: #f3b0b0;
  --df-messenger-font-color: #000;
  --df-messenger-send-icon: #e546bb;
  position: fixed;
  bottom: 20px;
  right: 20px;
}