*
{
    margin:0;
    padding:0;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  text-align: center;
}
.container {
  display: flex;
  gap: 20px;
}

.products, .cart {

  background: rgb(192, 241, 251);
  padding: 15px;
  border-radius: 10px;
  width:400px;
 
}

button {
  padding: 5px 25px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}