

*
{
    margin:0;
    padding:0;
}

form
{
    width: 300px;
    height: 250px;
    border:2px solid green;
}
label
{
    display: block;
    margin-left:10px;
    margin-bottom:10px;
}
input
{
    height:25px;
    width:90%;
    margin-left:10px;
}

button
{
    margin-top: 20px;
    background-color: green;
    color:white;
    padding:10px
}